<%= stylesheet_link_tag 'public/homes' %>
<div class="container">
  <div class='offset-2 col-9 text-center confirm_text'>
    <h2>本当に退会しますか</h2>
    <p>退会すると、会員登録情報や </br>
    これまでの購入履歴が閲覧できなくなります。</br>
    退会する場合は、「退会する」をクリックしてください。</p>

    <%= link_to '退会しない', customers_show_path, class: "btn btn-sm btn-darkgleen text-white" %>
    <%= link_to '退会する', withdraw_path, method: :patch, class: "btn btn-sm btn-danger" %>
  </div>
</div>