// Place all the styles related to the public/cart_items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.table {
    border-radius: 20px 20px 20px 20px;
    border-style:none;
}

.address_index {
    margin-bottom: 30px;
}

.totalprice {
    margin-right: 150px;
}

.shop_continue {
    margin-left: 100px;
}