<h1>Admin::Items#show</h1>


<div class="container px-5 px-sm-0">
  <div class="row p-5">
    <h2>商品新規登録</h2>
  </div>
  <div class="row">
    <div class="col-md-3">
      <%= image_tag item.image %>
    </div>
    <div class="col-md-2">

      <p>商品名</p>
      <p>商品説明</p><br><br><br><br><br>
      <p>ジャンル</p>
      <p>
        税抜価格<br>（税抜価格）
      </p>
      <p>販売ステータス</p>
    </div>

    <div class="col-md-4 offset-md-1 mx-auto">


    </div>
  </div>
</div>