<div class='container px-5 px-sm-0'>
  <div class='row mt-4'>
    <div class='col text-center'>
      <table>
      <thead>
      <th>About</th>
      </thead>
      <tbody>
    　<tr></tr><td>ながのCAKEは全国発送可能なケーキ屋さんです。</td></tr>
    　<tr><td>お子様からお年寄りの方までお召し上がりいただけいただけるよう、</td></tr>
      <tr><td>様々なバリエーションをご用意しております。</td></tr>
      <tr><td>また、全国へ発送可能ですので「いつ」でも「どこ」でもご注文いただけます。</td></tr>
      <tr><td>ぜひご注文ください。</td></tr>
      </tbody>
      </table>
    </div>
  </div>
</div>
