<div class='container px-5 px-sm-0'>
  <div class='row mt-4'>
    <div class='col text-center'>

    <p><font size="7">About</font></p><br>
    <p>Find me in app/views/public/homes/about.html.erb</p>
    </div>
  </div>
</div>
