<h1>Admin::Genres#index</h1>
<p>Find me in app/views/admin/genres/index.html.erb</p>

<p>ジャンル一覧・追加</p>

  <%= form_with model: genre, method: :post do |f| %>
   <p>ジャンル名</p>
    <%= f.text_field :item_genre %>
  <% end %>
