<div class="container px-5 px-sm-0">
  <div class="row">
   <div class="col-md-8 offset-md-1">
      <h2>ショッピングカート</h2>
      <table class="table table-hover">
        <thead>
            <tr>
              <th>商品名</th>
              <th>単価（税込）</th>
              <th>数量</th>
              <th>小計</th>
              <th colspan="1"></th>
            </tr>
        </thead>
        <tbody>
            <% @items.each do |item| %>
            <tr>
              <td>
                <%= item.name %>
              </td>
              <td><%= link_to "#{item.item_name}", admin_item_path(item.id) %></td>
              <td><%= (item.price * 1.1).round.to_s(:delimited)  %></td>
              <td>
                
              </td>
              <% if item.is_selling == true %>
                <td class="text-success">販売中</td>
              <% else %>
                <td class="text-secondaryr">販売停止中</td>
              <% end %>
            </tr>
            <% end %>
            <%= paginate @items %>
        </tbody>
      </table>
    </div>
  </div>
</div>
