<div class="container px-5 px-sm-0">
  <div class="row p-5">
    <h2>商品一覧</h2>
  </div>
  <div class="row">
    <div class="col-md-8 offset-md-1 mx-auto">
      <% @items.each do |item| %>

        <% if item.is_selling == true %>
          <% if item.image.attached? %>
            <%= image_tag item.image, size: "200x200" %><br>
          <% end %>
          <p><%= item.item_name %></p>
          <p><%= (item.price * 1.1).round.to_s(:delimited)  %>円</p>
        <% end %>
      <% end %>
      <%= paginate @items %>
    </div>
  </div>
</div>