<button type="button" class="btn btn-outline-dark">
  <li>
    <%=  link_to customers_show_path,class: 'nav-link text-dark' do %>
      <i class=""></i> マイページ
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%=  link_to items_path ,class: 'nav-link text-dark' do %>
      <i class=""></i> 商品一覧
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%=  link_to cart_items_path ,class: 'nav-link text-dark' do %>
      <i class=""></i> カート
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%= link_to  destroy_customer_session_path, method: :delete, class: 'nav-link text-dark' do %>
      <i class=""></i> ログアウト
    <% end %>
  </li>
</button>
