<button type="button" class="btn btn-outline-dark">
  <li>
    <%= link_to root_path,class: 'nav-link text-dark' do %>
      <i class=""></i> About
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%= link_to items_path,class: 'nav-link text-dark' do %>
      <i class=""></i> 商品一覧
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%= link_to new_customer_registration_path,class: 'nav-link text-dark' do %>
      <i class=""></i> 新規登録
    <% end %>
  </li>
</button>
<button type="button" class="btn btn-outline-dark">
  <li>
    <%= link_to customer_session_path ,class: 'nav-link text-dark' do %>
      <i class=""></i> ログイン
    <% end %>
  </li>
</button>