<%= stylesheet_link_tag 'public/homes' %>
<nav class="navbar navbar-expand-lg">
  <div class="container">
    <a class="navbar-brand p-3" href="/"></a>
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav ml-auto">
        <% if admin_signed_in? %>
          <%= render 'layouts/headeradmin' %>
        <% elsif customer_signed_in? %>
          <%= render 'layouts/headercustomer' %>
        <% else %>
          <%= render 'layouts/headersignin' %>
        <% end %>
      </ul>
    </div>
  </div>
</nav>